contenedor-component {
  display: block;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado */
[slot="encabezado"] {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

/* Estilo para el cuerpo */
[slot="cuerpo"] {
  font-size: 16px;
  color: #555;
}

.regresar{
  padding: 10px;
  border: 3px solid blue;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ccc;
  color: #000;
  margin: 1rem;
  font-weight: bold;
}